## -*- coding: utf-8 -*-
## index.html

<%inherit file="../base.html"/>

<%block name="var">{% set active_page = "index" %}</%block>
<%block name="js"><%include file="../.js-cache/index.min.js"/></%block>
<%block name="css"><%include file="../.sass-cache/index/index.css"/></%block>

<div class="jumbotron">
    <h1>קיפו"ד בנגב - דימונה</h1>
    <p class="lead">גם אתם רוצים להצטרף לרשימת התפוצה ולקבל דואר אלקטרוני בכל זמן שתבחרו עם רשימת האירועים בדימונה?</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">הרשמו עכשיו</a></p>
</div>

<blockquote>הידעתם שהקיפו"ד הוא מיזם חברתי? <a href="/about">קראו עוד..</a></blockquote>

<row>
    <%include file="../events_table/events_table.html"/>
</row>