## -*- coding: utf-8 -*-
## submit_event.html
<%inherit file="../base.html"/>

<%block name="var">
{% set active_page = "login" %}
</%block>

<%block name="end">
</%block>

<%block name="js"><%include file="../.js-cache/login.min.js"/></%block>
<%block name="css"><%include file="../.sass-cache/login/login.css"/></%block>

## Text input
<%def name="textinput(label, id, name, placeholder, help='', more='', type='text', value='')">
    <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">${label}</label>
        <div class="col-md-4">
	    <input id="${id}" name="${name}" type="${type}" placeholder="${placeholder}" value="${value}" class="form-control input-md" ${more}>
	    <span class="help-block">${help}</span>
	</div>
    </div>
</%def>

{% macro render_errors(field, text) %}
    <span class="help-block">
    {% if field.errors %}
	<ul>
	    {% for error in field.errors %}
    		<li>{{ error }}</li>
	    {% endfor %}
	</ul>
    {% endif %}
{% endmacro %}

{% macro render_field_with_errors(field, text) %}
    <div class="form-group">
        {{ field.label(class="col-md-4 control-label") }}
        <div class="col-md-4">
    	    {{ field(class="form-control input-md", placeholder=text, **kwargs)|safe }}
	    <span class="help-block">
	    {% if field.errors %}
    		<ul>
		    {% for error in field.errors %}
	    		<li>{{ error }}</li>
		    {% endfor %}
    		</ul>
	    {% endif %}
	    </span>
	</div>
    </div>
{% endmacro %}

{% macro render_field(field) %}
  <p>{{ field(**kwargs)|safe }}</p>
{% endmacro %}

<div class="container">

<form id="login_form" class="form-horizontal" method="post" name="login_user_form">

    <fieldset>
	<legend>התחברות לקיפו"ד</legend>

        {{ login_user_form.hidden_tag() }}
	<%doc>
        {{ render_field_with_errors(login_user_form.email, 'כתובת דוא"ל') }}
        {{ render_field_with_errors(login_user_form.password, 'ססמה') }}
        {{ render_field_with_errors(login_user_form.remember, 'זכור אותי') }}
        {{ render_field(login_user_form.next) }}
	{{ render_field(login_user_form.submit) }}
	</%doc>

	${textinput(label=u'כתובת דוא"ל', id='email', name='email', placeholder=u'שם משתמש', more='autofocus')}
        {{ render_errors(login_user_form.email) }}
	${textinput(label=u'ססמה', id='password', name='password', placeholder=u'ססמה', type='password')}
        {{ render_errors(login_user_form.password) }}
	${textinput(label=u'', id='next', name='next', placeholder=u'', type='hidden', value='{{ next }}')}

	<div class="form-group">
	    <label class="col-md-4 control-label" for="checkboxes">זכור אותי</label>
	    <div class="col-md-4">
    		<div class="checkbox">
        	    <label for="remember"><input type="checkbox" name="remember" id="remember" value="0">זכור אותי</label>
                </div>
            </div>
        </div>
        {{ render_errors(login_user_form.remember) }}

	{% autoescape false %}
	<div class="form-error col-md-12">{{ error }}</div>
	{% endautoescape %}

	## Submit button
	<div class="form-group">
	    <label class="col-md-4 control-label" for="singlebutton"></label>
	    <div class="col-md-4">
    		<button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">הבא</button>
    	    </div>
        </div>

    </fieldset>
</form>
<blockquote>אין לך עדיין משתמש באתר? <a href="/user/create">הרשמה לאתר..</a></blockquote>
</div>