## -*- coding: utf-8 -*-
## about.html

<%inherit file="../base.html"/>

<%block name="var">{% set active_page = "about" %}</%block>
<%block name="js"><%include file="../.js-cache/about.min.js"/></%block>
<%block name="css"><%include file="../.sass-cache/about/about.css"/></%block>

<h1>קיפו"ד בנגב</h1>

<h2>על הקיפו"ד</h2>
<p>bla bla bla...</p>

<h2>חזון הקיפו"ד</h2>
<p>bla bla bla...</p>

<h2>כללי הקיפו"ד</h2>
<p>bla bla bla...</p>

<h2>התנדבות בקיפו"ד</h2>
<p>bla bla bla...</p>

<h2>מודל הקיפו"ד</h2>
<p>bla bla bla...</p>

<h2>הקמת הקיפו"ד בעיר שלכם</h2>
<p>bla bla bla...</p>
