## -*- coding: utf-8 -*-
## event.html

<%inherit file="../base.html"/>

<%block name="var">{% set active_page = "event" %}</%block>
<%block name="js"><%include file="../.js-cache/event.min.js"/></%block>
<%block name="css"><%include file="../.sass-cache/event/event.css"/></%block>



<h1>{{ event.name }}</h1>
<h2>{{ event.description }}</h2>
<p>תאריך האירוע: <a href="/search/events/date/{{ event.date.strftime('%Y/%m/%d/') }}">{{ event.date.strftime('%d/%m/%Y') }}</a> {{ event.date.strftime('%H:%M') }}</p>
<p>מקום האירוע: <a href="{{ event.place[0].url() }}">{{ event.place[0].name }}</a> 
 (<a href="/search/events/place/{{ event.place[0].seoname }}/">אירועים נוספים במקום</a>)
</p>

<br/><div class="fb-like" data-href="{{ request.url }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div><br/><br/>
<div class="fb-comments" data-href="{{ request.url }}" data-numposts="10" data-colorscheme="light"></div>